.products {
  &__primary-image {
    width: 42vw;
    height: 410px;
    object-position: center;
    object-fit: cover;
    flex: 1;
  }

  &__secondary-image {
    position: absolute;
    z-index: 1;
    margin: auto;
    margin-top: 50px;
    width: 144.28px;
    height: 443px;
  }
  // 
  // &:nth-child(odd) {
  //   flex-direction: row-reverse;
  // }
}
