.product {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px 0px 160px 0px;
  padding: 40px 130px;

  &__primary-image {
    width: 42vw;
    height: 410px;
    object-position: center;
    object-fit: cover;
    flex: 1;
  }

  &__secondary-image {
    z-index: 1;
    margin: auto;
    position: absolute;
    margin-top: 50px;
    width: 144.28px;
    height: 443px;
  }

}
