.product-row {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px 0px 160px 0px;
  padding: 40px 7vw;

  &:first-child {
    padding-top: 680px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  @media(max-width: 649px) {
    margin: 0px 0px 60px 0px;
    padding: 20px;

    &:first-child {
      padding-top: 660px;
    }
  }
}
