$black: #000;
$black-hover: lighten($black, 35%);
$bg-color: #fff;

@font-face {
    font-family: "Montserrat";
    src: url('../../assets/fonts/Montserrat-Regular.ttf') format("truetype");
}

.header {
  position: fixed;
  padding: 10px 20px;
  width: 100vw;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0);
  color: $black;
  text-transform: uppercase;
  transition: all 0.5s;

  &__link-list {
    padding: 0;
    margin: 0;
  }

  &__icon {
    color: #fff;
    font-size: 1.5em;
    transition: all 0.5s;
  }

  &__link {
    font-size: 0.7em;
    text-decoration: none;
    color: #fff;
    margin: 0px 10px;
    transition: all 0.5s;

    &:hover {
      color: $black-hover;
    }

    &--title {
      font-size: 2em;
    }
  }
}
