@font-face {
    font-family: "PlayfairDisplay";
    src: url('../../assets/fonts/PlayfairDisplay-Regular.ttf') format("truetype");
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  text-align: center;
  transition: opacity .7s;
  position: absolute;

  &__image {
    width: 100%;
    height: 620px;
    object-position: center;
    object-fit: cover;
  }

  &__header {
    color: white;
    position: absolute;
    z-index: 1;
    font-family: "PlayfairDisplay";
    font-size: 3em;
    font-weight: lighter;
  }

  &__link {
    color: white;
    position: absolute;
    z-index: 1;
    text-decoration: none;
    margin-top: 100px;
    font-weight: lighter;
    font-size: .75em;
  }
}

.fadein-appear {
  opacity: 0.01;
}

.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

@media(max-width: 649px) {
  height: 70vh;

  &__image {
    height: 70vh;
    object-position: center;
    object-fit: cover;
  }
  &__header {
    font-size: 4em;
    font-weight: lighter;
  }
  &__link {
    margin-top: 7vh;
    font-size: 3em;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin: 10px;
  position: absolute;
  transition: opacity 1s;
  width: 150px;

  &-enter {
    opacity: 0;

    &-active {
      opacity: 1;
    }
  }

  &-leave {
    opacity: 1;

    &-active {
      opacity: 0;
    }
  }

  &__container {
    position: relative;
  }
}
