@mixin primary-button-color($color) {
  background-color: $color;
  border: 1px solid $color;
  color: #FFFFFF;

  &:hover {
    background-color: #333333;
    border: 1px solid #333333;
    transition: ease-in-out .2s;
  }
}

@mixin secondary-button-color($color) {
  background-color: #FFFFFF;
  border: 1px solid $color;
  color: $color;

  &:hover {
    border: 1px solid #333333;
    color: #333333;
    transition: ease-in-out .2s;
  }
}

.product-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-transform: uppercase;
  color: #000;
  flex: 1;

  &__aligner {
      padding: 0px;
      display: flex;
      justify-content: flex-start;
      flex-flow: column wrap;
      max-width: 340px;
  }

  &__text {
    text-align: left;
    margin-left: 10px;

    &--coords {
      margin: 0px;
    }

    &--description {
      margin: 0px 0px 15px 0px;
    }
  }

  &__button {
    margin: 10px;
    width: 215px;
    height: 52px;
    text-transform: uppercase;

    &:focus {
      outline: 0;
    }

    &--primary-blue {
      @include primary-button-color(#003e51);
    }

    &--secondary-blue {
      @include secondary-button-color(#003e51);
    }

    &--primary-green {
      @include primary-button-color(#7F9B8F);
    }

    &--secondary-green {
      @include secondary-button-color(#7F9B8F);
    }

    &--primary-brown {
      @include primary-button-color(#A29281);
    }

    &--secondary-brown {
      @include secondary-button-color(#A29281);
    }

    &--primary-red {
      @include primary-button-color(#5D2A2C);
    }

    &--secondary-red {
      @include secondary-button-color(#5D2A2C);
    }
  }

  @media(max-width: 649px) {
    &__text {
      text-align: center;
      margin-top: 100px;
    }
    &__button {
      align-self: center;
    }
  }
}
